.continer{
    width: 640px;
    margin:auto;
    margin-top: 100px;
    background-color: white;
    color: #262626;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    padding: 30px 20px;

}
.continer hr{
    height: 2px;
    border: none;
    background-color: rgb(56, 63, 68);
}

.continer h2{
    font-size: 27px;
    font-weight: 500;
}

.continer ul li{
    display: flex;
    border: 1px solid #5a5858;
    align-items: center;
    height: 50px;
    border-radius: 4px;
    padding-left: 8px;
    margin-bottom: 6px;
    font-size: 20px;
    cursor: pointer;
}
.continer button{
    margin: auto;
    width: 190px;
    height: 40px;
    background-color: #1158f1;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 400;
    border-radius: 4px;
    cursor: pointer;
}
.continer .index{
    margin: auto;
    font-size: 20px;
}